@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  
body {
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  background-color: var(--bg-primary);
}   

.TelaCadastro {
    display: flex;
    flex-direction: row; /* Alinhamento vertical */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    min-height: calc(100vh - 52px);
    gap: 40px;
}

.ParteCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ParteCadastro form {
    transform: translateY(-28%);
    width: 375px;
    height: 440px;
    margin-right: 0;
}

.ParteCadastro form h1 {
    margin-bottom: 8px;
    text-align: center;
    color: #226ED8;
    font-size: 42px;  
    font-weight: 700;
}

.ParteCadastro form h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 13px;
}

.ParteCadastro form .DivisorTitulo {
    margin: 0 auto;
    width: 170px;
    height: 1px;
    border-top: 1px solid #3B5F91;
}

.ParteCadastro form p {
    font-size: 16px;
    color: var(--text-main);
    margin-top: 16px;
    margin-bottom: 4px;
}

.ParteCadastro form input {
    width: 100%;
    height: 40px;
    border-radius: 1px solid #002D6C;
    background-color: var(--input-bg);
}

.ParteCadastro input[type="submit"] {
    height: 45px;
    width: 100%;
    background-color: #226ED8;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
    margin-top: 32px;
    text-align: center;
    padding: 0;
}

.ParteCadastro input[type="submit"]:hover {
    background-color: rgb(6, 6, 128);
    color: #ffffff;
    cursor: pointer;
}

.DivisorLateral {
    width: 2px;
    background-color: #9CC7FBB2;
    height: 800px;
    margin-left: 133px;
}

.ImagemLateral {
    width: 600px;
    max-width: 50%;
    margin-right: 0;
    margin-left: 48px;
}

/* Classes de Erro */
.InputErro {
    background-color: #FFE5E5 !important;
    border: 1px solid #820000 !important;
}

.MensagemErro {
    color: #820000;
    font-size: 10px;
    margin-top: 3px !important;
    text-align: left;
    display: block;
}

/* Classes do Modal de Sucesso */
.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.ModalContent {
    background-color: #FCFFF5;
    width: 394px !important;
    height: 136px !important;
    min-width: 394px;
    border-radius: 20px;
    border: 1px solid #6CA11E;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Volta a centralizar os blocos no meio do modal */
    box-sizing: border-box;
}

.ModalContent h3 {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 5px 71px 16px 16px;
    width: 307px;
    height: 30px;
}

.ModalContent h3 img {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
    flex-shrink: 0;
}

.ModalContent h3 span {
    color: #00122A;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap !important;
}

.TextoSubtitulo {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    white-space: nowrap !important;
}

.IconeSucesso {
    width: 30px;
    height: 30px;
    flex-shrink: 0; 
}

.ModalContent p {
    color: var(--text-main);
    font-size: 16px;
    margin: 16px 18px 33px 17px;
    width: 359px;
    height: 24px;
}

@media (max-width: 768px) {
    
    .ImagemLateral,
    .DivisorLateral {
        display: none;
    }

    .TelaCadastro {
        flex-direction: column; 
        padding: 0 32px;
        box-sizing: border-box;
    }

    .ParteCadastro form {
        width: 460px;
        max-width: 375px;
    }

    .ParteCadastro form h1 {
        font-size: 52px;
    }

    .ParteCadastro form p {
        margin-top: 16px
    }

    .ParteCadastro input[type="submit"] {
        margin-top: 32px;
    }
}