* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; 
  font-family: 'Poppins'; 
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


:root {
  /* Cores Light Mode */
  --bg-primary: #fafafa;
  --header-bg: #226ED8;
  --switch-bg: linear-gradient(180deg, #FFC93F 0%, #FFC93F 50%, #FFE03F 100%);
  --text-main: #00122B;
  --input-bg: #EEF5FF;
  --card-bg: #ffffff;
  --input-border: #002D6C;
  --kanban-text-blue: #002D6C;
  --scroll-bar: #C4C4C4;
  --Trash-task: #DF0000;
  --footer-bg: #114FA7;
  --edit-task: #141414;
  --bg-column: #EEEEEE;
  /*Cores de erros*/
  --error-bg: #FFE5E5;
  --error-border: #820000;
  --error-text: #820000;
}

body.dark-mode {
  /* Cores Dark Mode */
  --Trash-task: #FFAFAF;
  --edit-task: #FAFAFA;
  --input-bg: #3D3D3D;
  --bg-primary: #222222;
  --input-border: #000000;
  --header-bg: #333333;
  --switch-bg: linear-gradient(180deg, #111111 0%, #222222 100%);
  --card-bg: #3D3D3D;
  --text-main: #FAFAFA;
  --scroll-bar: #515151;
  --delete-btn: #535353;
  --kanban-blue: #3867D6;
  --kanban-text-blue: #5C9DFF;
  --new-task-title: #226ED8;
  --dark-footer-bg: #111111;
  --bg-column: #333333;
  /*Cores de erros*/
  --error-bg: #6f0303;
  --error-border: #4d0000;
  --error-text: #fefefe;
  --icon-color: #FEFEFE;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}